*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
}

body, html {
	height: 100%;
	overflow: hidden;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
}

main {
	flex-basis: 80%;
	min-height: 80%;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

header {
	text-align: center;
	flex: 2;
}

header h1 {
	font-size: 4em;
	color: #d0d0d0;
}

section form{
	display: flex;
	justify-content: space-between;
	flex: 1;
}

section form input[name="url"] {
	flex: 8;
}

section form input[name="name"] {
	flex: 2;
	margin-left: 20px !important;
}

section form button {
	flex: 2;
	cursor: pointer;
	margin-left: 20px;
}

footer {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer .wrap {
	flex: 1;
	margin-top: 30px;
}

footer #url {
	font-size: 3em;
	font-style: italic;
	border-radius: 5px;
	color: #f9f9f9;
	background: #4fdda2;
	cursor: pointer;
	padding: 10px 15px;
	visibility: hidden;
}

.notify {
	padding: 20px 10px;
	position: absolute;
	top:0;
	left: 0;
	right:0;
	text-align: center;
	color: #f9f9f9;
	box-shadow: 0 2px 10px #d0d0d0
}

.notify.ERROR {
	background: crimson;
}

.notify.OK {
	background: #26c281
}